body{
    /* margin: 0px; */
    background-image: url("travelform-background.png");
    background-size:cover;
    font-size: large;
    background-position:center
}

 header{
    color: white;
    font-weight: bold;
    
 }

 #sub-heading{
    color: red;
    font-weight: bold;
    margin-top: -10px;
 }
 
 .star{
    color: red;
 }
 
 #button{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: large;
}
input[required]{
        box-sizing: border-box;
        width: 300px;
    }

.drop{
    box-sizing: border-box;
    width: 300px;
}
label{
    font-weight: bold;
}

.line{
   border-top: 2px solid white;
    
}
.check{

     /* background-clip: inherit; */
     appearance: none; 
     border: 1px solid black;
     height: 10px;
     width: 10px;
     

}
.check:checked{
    accent-color: black;
    appearance: checked;
}
